<div class="login-title">
  <% if (title) { %>
      <h1><%= title %></h1>
      <% } else {
          res.redirect('/')
      } %>
  
      <div class="login-message">
          <%- messages() %>
      </div>
  
      <% if (errors) { %>
          <ul class="login-error">
         <% errors.array().forEach(error => { %>
           <li><%= error.msg %></li>
        <%  }) %>
         </ul><br>
        <% } %>
  </div>
  
      <div class="form-container-login">
          <form class="form-login" action="/account/login" method="post">
              <div class="login-div">
                  <label for="account_email">Login:</label><br>
                  <input type="email" id="account_email" name="account_email" required><br><br>
                  <label for="account_password">Password:</label><br>
                  <input type="password" id="account_password" name="account_password" required>
                  <br><br>
              </div>
              <div class="login-button">
                  <input type="submit" value="LOGIN"><br><br>
                  <label>No account? <a href="./register" id="login-register">Sign Up </a> </label>
              </div>
          </form>
      </div>