
    <div class="hero">
        <h1>Welcome to CSE Moters!</h1>
        <section class="hero-message">
            <h2> DMC Delorean</h2>
            <h3>3 Cup Holders</h3>
            <h3>Superman Doors</h3>
            <h3>Fuzzy Dice</h3>
                <section class="own-today">
                    <img src="/images/site/own_today.png" alt="owntoday">
                </section>
            </section>

        <section class="heroimage">
            <img src="/images/vehicles/delorean.jpg" alt="delorean">
        </section>
    </div>

    <div class="upgrade">
        <h3> Delorean Upgrades</h3>
            <section class="upgrade1">
                <img src="/images/upgrades/flux-cap.png" alt="flux-cap">
                <h4>Flux Capacitor</h4>
            </section>
            <section class="upgrade2">
                <img src="/images/upgrades/flame.jpg" alt="flame">
                <h4>Flame Decals</h4>    
            </section>
            <section class="upgrade3">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper">
                <h4>Bumper Stickers</h4>    
            </section>
            <section class="upgrade4">
                <img src="/images/upgrades/hub-cap.jpg" alt="hub">
                <h4>Hub Caps</h4>    
            </section>
    </div>

    <div class="review">
        <ul>
            <li>"So Fast it's almost like traveling in time. (4/5)</li>
            <li>"Coolest ride ont he road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80s livin and I love it!" (5/5)</li>
        </ul>
    </div>
