
<div class="addClassification">
    <% if (title) { %>
        <h1><%= title %></h1>
        <% } else {
          res.redirect('/')
        } %>

</div>
<%- messages() %>

<div class="errormessage">
    <% if (errors) { %>
        <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <%  }) %>
        </ul>
    <% } %>

<!-- Form for adding a classification to database -->
<div class="add-classification-form-container">
    <p>Name has to be letters only</p>
    <form class="add-classification-form" action="/inv/add-classification" method="post">

      <div class="add-classification-div">
        <label for="classification_name">Enter Classification:</label><br>
        <input type="text" id="classification_name" name="classification_name" required value="<%= typeof classification_name !== 'undefined' ? classification_name : '' %>"><br><br>
      </div>
  <button type="submit" class="btn btn-primary">Add Classification</button>
  
<label><a href="/inv" id="return_management">Back to Management </a> </label>  

</div>







