<div class="single">
<% if (title) { %>
  <!-- <h1><%= title %></h1> -->
  <% } else {
    res.redirect('/')
  } %>


<%# messages() %>


<%- html %>

<!-- Add Review Form -->
<section>
  <h3>Write a Review</h3>
  <form action="inventory/add-review" method="POST">
    <label for="review_name">Name:</label>
    <input type="text" name="review_name" id="review_name" required>
    <label for="review_rating">Rating:</label>
    <select name="review_rating" id="review_rating">
      <option value="5">5 - Excellent</option>
      <option value="4">4 - Good</option>
      <option value="3">3 - Average</option>
      <option value="2">2 - Fair</option>
      <option value="1">1 - Poor</option>
    </select>

    <label for="review_content">Comment:</label>
    <textarea name="review_content" id="review_content" required></textarea>
    
    <button type="submit">Submit Review</button>
  </form>
</section>
</div>

