<% if (title) { %>
    <!-- <h1><%= title %></h1> -->
    <% } else {
      res.redirect('/')
    } %>
  
  
  <%# messages() %>
  
  
  <%- html %>

    <% if (flash) { %>
        <div class="flash">
        <p><%= flash %></p>
        </div>
    <% } %>



    <div class="management-container">
      <a href="/inv/add-classification">Add new classification</a><br><br>
      <a href="/inv/add-inventory">Add new inventory</a>
  </div>